html,
body {
  background-color: $grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}

header {
  background-color: $black;
  color: $grey;
  padding: 2em;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}
