.classroom-layout {
  $desk-size: 50px;
  @include desk-grid($desk-size);

  .desk {
    @include desk($desk-size);
  }

  &.tiny {
    $desk-size: 5px;
    @include desk-grid($desk-size);

    .desk {
      @include desk($desk-size);
    }

    .front-of-room {
      font-size: .5em;
    }
  }
}
