.classroom-layout-manager {
  $desk-size: 100px;
  display: grid;
  // sass-lint:disable no-misspelled-properties
  grid-column-gap:  ($desk-size / 10);
  grid-template-columns: $desk-size ($desk-size * 10);
  grid-template-rows:  ($desk-size * 10);

  .desk {
    @include desk($desk-size);
  }

  .unpositioned-desks {
    grid-row: 1 / span 20;

    .desk {
      margin-bottom: 5px;
    }
  }

  .positioned-desks {
    @include desk-grid($desk-size);
  }

  .front-of-room {
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
