.seating-chart {
  $desk-size: 100px;
  display: grid;
  grid-column-gap:  ($desk-size / 10);
  grid-template-columns: $desk-size ($desk-size * 10);
  grid-template-rows:  ($desk-size * 10);

  .unpositioned-people {
    grid-row: 1 / span 20;

    .desk {
      margin-bottom: 5px;
    }
  }

  .desks {
    @include desk-grid($desk-size);
  }

  .desk {
    @include desk($desk-size);
  }

  .person {
    border: 1px solid $teal;
    box-sizing: border-box;
    height: $desk-size * .8;
    overflow: hidden;
    width: $desk-size * .8;
    z-index: 20;
  }
}
