.seating-chart {
  $desk-size: 100px;
  display: grid;
  // sass-lint:disable no-misspelled-properties
  grid-column-gap:  ($desk-size / 10);
  grid-template-columns: $desk-size ($desk-size * 10);
  grid-template-rows:  ($desk-size * 10);

  .unpositioned-people {
    grid-row: 1 / span 20;

    .person {
      border-bottom: 1px dotted $black;
      border-top: 1px dotted $black;
      margin-bottom: 5px;

      .remove {
        color: $red;
        cursor: pointer;
      }
    }
  }

  .desks {
    @include desk-grid($desk-size);
  }

  .desk {
    @include desk($desk-size);
    align-items: stretch;
    display: block;
    font-size: 1.5em;

    div {
      width: 100%;
    }

    .person {
      border-top: 1px dotted $black;
      font-size: .5em;
    }
  }

  .front-of-room {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
