<div class='wrapper'>
  <header class='header'>
    <h1>Sentar</h1>
    {{#if session.isAuthenticated}}
      <div class='auth'>
        {{fa-icon 'user'}}
        {{#if session.currentUser.displayName}}
          {{session.currentUser.displayName}}
        {{else}}
          Annonymous
        {{/if}}
        {{#link-to 'logout'}}Logout{{/link-to}}
      </div>
    {{/if}}
  </header>
  <section class='body'>
    {{outlet}}
  </section>
  <footer class='footer'></footer>
</div>
