<h2>Welcome!</h2>

<p>
  Sentar is a seating chart application for awesome teachers.
</p>

{{#unless session.isAuthenticated}}
  {{firebase-auth}}
{{/unless}}

<h3>Support Browsers</h3>
<p>Sentar only works on modern browsers with full CSS Grid Support:</p>
<table>
  <thead>
    <tr>
      <th>Chrome</th><th>Firefox</th><th>Safari</th>
    </tr>
    <tr>
      <th>
        <img
          src="https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/chrome/chrome_48x48.png"
          alt="chrome logo"
        >
      </th>
      <th>
        <img
          src="https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/firefox/firefox_48x48.png"
          alt="firefox logo"
        >
      </th>
      <th>
        <img
          src="https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/safari/safari_48x48.png"
          alt="safari logo"
        >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Latest {{fa-icon "check"}}</td><td>Latest {{fa-icon "check"}}</td><td>Latest {{fa-icon "check"}}</td></tr>
  </tbody>
</table>
