<h2>Welcome!</h2>

<p>
  Sentar is a seating chart application for awesome teachers.
</p>

{{#unless session.isAuthenticated}}
  {{firebase-auth}}
{{/unless}}

<h3>Support Browsers</h3>
<p>While we may add support for more browsers over time currently Sentar is
  only working on modern browsers with CSS Grid Support:</p>
<table>
  <thead>
    <tr><th>Chrome</th><th>Firefox</th><th>Edge</th></tr>
    <tr>
      <th>
        <img src='https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/chrome/chrome_48x48.png' alt='chrome logo' />
      </th>
      <th>
        <img src='https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/firefox/firefox_48x48.png' alt='firefox logo' />
      </th>
      <th>
        <img src='https://cdnjs.cloudflare.com/ajax/libs/browser-logos/42.6.0/edge/edge_48x48.png' alt='edge logo' />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Latest {{fa-icon 'check'}}</td><td>Latest {{fa-icon 'check'}}</td><td>Latest {{fa-icon 'check'}}</td></tr>
  </tbody>
</table>
